<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
  <h2>{{subtitle}}</h2>
</div>


<h2>US Time Zone Display</h2>


<button class="zone" (click)="gmt = zones.beijing" [ngClass]='{selected: gmt === zones.beijing}'>Beijing</button> |
<button class="zone" (click)="gmt = zones.tokyo" [ngClass]='{selected: gmt === zones.tokyo}'>Tokyo</button> |
<button class="zone" (click)="gmt = zones.dallas" [ngClass]='{selected: gmt === zones.dallas}'>Dallas</button> |
<button class="zone" (click)="gmt = zones.newyork" [ngClass]='{selected: gmt === zones.newyork}'>New York</button> |
<button class="zone" (click)="gmt = zones.pretoria" [ngClass]='{selected: gmt === zones.pretoria}'>Pretoria</button> |
<br>
<br>
<button class="zone" (click)="gmt = zones.istanbul" [ngClass]='{selected: gmt === zones.istanbul}'>Istanbul</button> |
<button class="zone" (click)="gmt = zones.newdelhi" [ngClass]='{selected: gmt === zones.newdelhi}'>New Delhi</button> |
<button class="zone" (click)="gmt = zones.bangkok" [ngClass]='{selected: gmt === zones.bangkok}'>Bangkok</button> |
<button class="zone" (click)="gmt = zones.melburne" [ngClass]='{selected: gmt === zones.melburne}'>Melburne</button> |
<button class="zone" (click)="gmt = zones.wellington" [ngClass]='{selected: gmt === zones.wellington}'>Wellington</button> |
<br>
<br>
<button (click)="gmt = zones.grenwich">Reset to GMT</button>
<br>
<br>

<div class="timedisplay">Time: {{ today | date:'shortTime':gmt}} </div>  

<p></p>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

<h2> Events! </h2>

<button (click)='logNum()'>Log Number</button> | 
<button (click)='num = num + 1'>Increment</button> |
<button (click)='increaseNum()'>Increase Number</button> |
<button (click)='num = 1'>Reset Number</button>

<p></p>
<p>The number is ------> {{num}}<p>
<p></p>

+++++++++++++++++++++++++++++++++++++++

<h2> Color Quilt Generator </h2>

<p></p>

<div class="box" *ngFor='let color of bg' [ngStyle]="{'background-color': color }"></div>


<p></p>

===========================================

<h2> Email Table </h2>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let letter of mail">
      <td>{{ letter.email | lowercase }}</td>
      <td *ngIf="letter.importance">High</td>
      <td *ngIf="!letter.importance">Low</td>
      <td>{{ letter.subject | uppercase }}</td>
      <td>{{ letter.content }}</td>
    </tr>
  </tbody>          
</table>  


