<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
  <h2>{{subtitle}}</h2>
</div>

<h2>Forms</h2>

<form (submit)="onSubmit()">
  <input type="text" name="firstname" 
  [(ngModel)]='user.firstname'>
  <input type="text" name="lastname"
  [(ngModel)]='user.lastname'>
  <input type="submit" value='Submit'>
</form>

<p> User: {{ user | json }} </p>

 +++++++++++++++++++++++++++++++++++++++++++++
<h2> Switchboard </h2>


<div class="box switch" *ngFor="let one of buttons; let i = index" (click)="flip(i)" [ngClass]="{off: one.status == 'off', on: one.status == 'on'}">{{ one.status }}</div> 



<p>......................................................................................</p>
<h2> Time Zones Display </h2>

<button class="zone" *ngFor="let one of cities" (click)="gmt = one.gmt" [ngClass]='{selected: gmt === one.gmt}'>{{ one.name }}</button>

<br>
<br>
<button (click)="gmt = zones.grenwich">Reset to GMT</button>
<br>
<br>

<div class="timedisplay">Time: {{ today | date:'shortTime':gmt}} </div>  

<p></p>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

<h2> Events! </h2>

<button (click)='logNum()'>Log Number</button> | 
<button (click)='num = num + 1'>Increment</button> |
<button (click)='increaseNum()'>Increase Number</button> |
<button (click)='num = 1'>Reset Number</button>

<p></p>
<p>The number is ------> {{num}}<p>
<p></p>

+++++++++++++++++++++++++++++++++++++++

<h2> Color Quilt Generator </h2>

<p></p>

<div class="box" *ngFor='let color of bg' [ngStyle]="{'background-color': color }"></div>


<p></p>

<!-- <button (click)="thing()">Shuffle</button> -->

<p></p>
===========================================

<h2> Email Table </h2>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let letter of mail">
      <td>{{ letter.email | lowercase }}</td>
      <td *ngIf="letter.importance">High</td>
      <td *ngIf="!letter.importance">Low</td>
      <td>{{ letter.subject | uppercase }}</td>
      <td>{{ letter.content }}</td>
    </tr>
  </tbody>          
</table>  


