.box {
	height: 50px;
	width: 50px;
	border-style: none;
	display: inline-block;
	margin-top: -5px;
	text-align: center;
	color: black;
}

.timedisplay {
	height: 75px;
	width: 250px;
	border-style: solid;
	border-color: salmon;
	text-align: center;
	padding-top: 50px;
}

.zone {
	border-style: none;
	background-color: rgb(48, 46, 117);
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
}

.selected {
	border-color: yellow;
	border-style: solid;
	border-width: 2px;
	background-color: red;
}

.off {
	background-color: red;
}

.on {
	background-color: green;
}

.ng-invalid {
	color: red;
}

.ng-valid {
	color: black;
}

