<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
  <h2>{{subtitle}}</h2>
</div>

<h2>Registration Form </h2>

<p *ngIf="response">{{ response }}</p> 

<form #formData='ngForm' (submit)="onSub()">

  <input 
    type="text" 
    name="firstname" 
    placeholder="First Name"
    required 
    minlength="2" 
    maxlength="24"
    [(ngModel)]="member.firstname"
    #firstname='ngModel'
  /> 
  <span *ngIf="!firstname.valid">First name is required</span>
  <br>

  <input 
    type="text" 
    name="lastname" 
    placeholder = "Last Name"
    required 
    minlength="2" 
    maxlength="24"
    [(ngModel)]="member.lastname"
    #lastname='ngModel'
  />
  <span *ngIf="!lastname.valid">Last name is required</span>
  <br>

   <input 
    type="text" 
    name="email"
    placeholder = "Email" 
    required 
    minlength="4" 
    maxlength="24"
    [(ngModel)]="member.email"
    #email='ngModel'
 />
  <span *ngIf="!email.valid">Email is required</span>
  <br>

  <input 
    type="text" 
    name="password"
    placeholder="Password" 
    required 
    minlength="10" 
    maxlength="24"
    pattern="^([a-zA-Z0-9@*#]{8,15})$"
    [(ngModel)]="member.password"
    #password='ngModel'
  />
  <span *ngIf="!password.valid">Password is required</span>
  <br>


  <input 
    type="text" 
    name="passwordconfirm" 
    placeholder="Password Confirm"
    required 
    [(ngModel)]="member.passwordconfirm"
    #passwordconfirm='ngModel'
  />
  <span *ngIf="!(member.password == member.passwordconfirm)">Passwords must match</span>
  <br>
   
   <input 
    type="text" 
    name="address" 
    placeholder="Street Address"
    required 
    minlength="4" 
    maxlength="24"
    [(ngModel)]="member.address"
    #address='ngModel'
 />
  <span *ngIf="!address.valid">Address is required</span>
  <br>

   <input 
    type="text" 
    name="address2" 
    placeholder="Apt/Unit No."
    maxlength="24"
    [(ngModel)]="member.apt"
    #apt='ngModel'
   />
  <br>
 
   <input 
    type="text" 
    name="city" 
    placeholder="City"
    required 
    minlength="4" 
    maxlength="24"
    [(ngModel)]="member.city"
    #city='ngModel'
  />
  <span *ngIf="!city.valid">City is required</span>
<br>

   <select 
    name="state"
    required
    [(ngModel)]="member.state">
    <option *ngFor="let state of states">{{state}}</option>
    </select>

    
  <p><input 
   type="radio" 
   name="bool"
   value='true'
   checked="checked"
  /> Email me. 
  <br>
  
  <input 
   type="radio" 
   name="bool"
   value='false'
  /> Don't email me. </p>

  <p><input *ngIf="formData.valid" type="submit" value="Register"></p>
</form>


















<p> ================================= </p>

<h2>Forms</h2>

<form (submit)="onSubmit()">
  
  <input type="text" name="first" 
  required
  minlength="4"
  maclength="24" 
  [(ngModel)]='user.first' 
  #first="ngModel">
  {{ first.errors | json }}
  {{ first.valid | json }}
  <div *ngIf="!first.valid">Error First Name</div>
  

  <input type="text" name="last"
  required
  minlength="4"
  maxlength="24" 
  [(ngModel)]='user.last'
  #last="ngModel">
  {{ last.errors | json }}
  {{ last.valid | json }}
  <div *ngIf="!last.valid">Error Last Name</div>

  <input type="submit" value='Submit'>

</form>

<p> User: {{ user | json }} </p>

<table>
  <thead>
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.first }}</td>
      <td>{{ user.last }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>    
</table> 

<button (click)="clearUsers()">Clear</button>

<p> +++++++++++++++++++++++++++++++++++++++++++++</p>
<h2> Switchboard </h2>


<div class="box switch" *ngFor="let one of buttons; let i = index" (click)="flip(i)" [ngClass]="{off: one.status == 'off', on: one.status == 'on'}">{{ one.status }}</div> 



<p>......................................................................................</p>
<h2> Time Zones Display </h2>

<button class="zone" *ngFor="let one of cities" (click)="gmt = one.gmt" [ngClass]='{selected: gmt === one.gmt}'>{{ one.name }}</button>


<p><button (click)="gmt = '+0000' ">Reset to GMT</button></p>


<div class="timedisplay">Time: {{ today | date:'shortTime':gmt}} </div>  

<p></p>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

<h2> Events! </h2>

<button (click)='logNum()'>Log Number</button> | 
<button (click)='num = num + 1'>Increment</button> |
<button (click)='increaseNum()'>Increase Number</button> |
<button (click)='num = 1'>Reset Number</button>

<p></p>
<p>The number is ------> {{num}}<p>
<p></p>

+++++++++++++++++++++++++++++++++++++++

<h2> Color Quilt Generator </h2>

<p></p>

<div class="box" *ngFor='let color of bg' [ngStyle]="{'background-color': color }"></div>


<p></p>

<!-- <button (click)="thing()">Shuffle</button> -->

<p></p>
===========================================

<h2> Email Table </h2>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let letter of mail">
      <td>{{ letter.email | lowercase }}</td>
      <td *ngIf="letter.importance">High</td>
      <td *ngIf="!letter.importance">Low</td>
      <td>{{ letter.subject | uppercase }}</td>
      <td>{{ letter.content }}</td>
    </tr>
  </tbody>          
</table>  


